<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25892591670-u47841nclejp6jscnogencka96qn3nqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25892591670-u47841nclejp6jscnogencka96qn3nqm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25892591670-pug5s2n1ucgab2479365u8eummd61d0g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpUcYeRF9vst1ooucETfiLLNNTIYrgTHM</string>
	<key>GCM_SENDER_ID</key>
	<string>25892591670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>visaid-ec3df</string>
	<key>STORAGE_BUCKET</key>
	<string>visaid-ec3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25892591670:ios:1e8760f851152827f1a097</string>
</dict>
</plist>